@import "tailwindcss";

:root {
  /* =========================================
     TEMA CLARO (Light Mode)
     ========================================= */
  --color-primary: #2563EB;
  --hover-primary: #1D4ED8;
  --color-secondary: #60A5FA;

  --bg-primary: #e2e2e2;
  --bg-secondary: #eeeeee;
  --bg-surface: #f5f5f5;

  --text-primary: #212121;
  --text-secondary: #37465a;
  --text-muted: #fcfdff;

  --bg-input: #FAFAFA;
  --border-input: #E2E8F0;

  --success-color: #10B981;
  --danger-color: #EF4444;
  --border-color: #E2E8F0;
  --color-info: #3b82f6;
}

.dark {
  --bg-primary: #111214;
  --bg-secondary: #181a1f;
  --bg-surface: #181d24;


  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;
  --text-muted: #64748B;

  --bg-input: #20232b;
  --border-input: #3f3f3f;

  --border-color: #1E293B;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  
  background-image: linear-gradient(#d8e1e280,#bac5c585), url('/images/mapa-mundi-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}